In [1]:
import nltk
import re
import pandas as pd

In [3]:
df = pd.read_csv('Coachella-2015-2-DFE.csv', encoding ='latin-1')
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN

In [4]:
# task 1 (hashtags)
reg_for_hashtags = r'#\w+\b'
hashtags = []

for text in df['text']:
    sol_hashtags = re.findall(reg_for_hashtags, text)
    hashtags.append(sol_hashtags)

df['hashtags'] = hashtags
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtags
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[#Coachella2015]
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[#Coachella2015]
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[#Coachella2015, #VIP]"
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[#Coachella2015, #GovBall2015]"
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[#Coachella2015]

In [22]:
# task 2 (emails)
reg_for_emails = r'[\w.-]+@\w+\.[A-Za-z]{2,}'
emails = []

for text in df['text']:
    sol_emails = re.findall(reg_for_emails, text)
    if sol_emails:
        emails.append(sol_emails)
    else:
        emails.append('')

df['emails'] = emails
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtags,emails
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[#Coachella2015],
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[#Coachella2015],
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[#Coachella2015, #VIP]",
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[#Coachella2015, #GovBall2015]",
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[#Coachella2015],

In [35]:
# task 3

reg_for_username = r'@\w+\b'
reg_for_links = r'\w{4,5}://\S+'
texts = []

for text in df['text']:
    sol_username = re.sub(reg_for_username, '', text)
    sol_links = re.sub(reg_for_links, '',sol_username)
    sol_emails = re.sub(reg_for_emails, '',sol_links)
    sol_hashtags = re.sub(reg_for_hashtags, '',sol_emails)
    texts.append(sol_hashtags.lower())

df['texts'] = texts
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtags,emails,texts
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[#Coachella2015],,tickets selling out in less than 40 minutes _...
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[#Coachella2015],,rt : wait this is absolute fire _ùó´_ùó´_ùó´
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[#Coachella2015, #VIP]",,passes secured! see you there bitchesssss
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[#Coachella2015, #GovBall2015]",,phillyûªs will play &amp; ! watch them on j...
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[#Coachella2015],,if briana and her mom out to im out with the...

In [36]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')

no_stops = []
for text in df['texts']:
    tokens = nltk.word_tokenize(text)
    stop_words = nltk.corpus.stopwords.words('english')
    filtered_tokens = [token for token in tokens if token not in stop_words]
    final_text = ' '.join(filtered_tokens)
    no_stops.append(final_text)
df['texts'] = no_stops
df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vardanarakelyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/vardanarakelyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/vardanarakelyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/vardanarakelyan/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtags,emails,texts
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[#Coachella2015],,tickets selling less 40 minutes _ù_¦_ù___ù___ù...
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[#Coachella2015],,rt : wait absolute fire _ùó´_ùó´_ùó´
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[#Coachella2015, #VIP]",,passes secured ! see bitchesssss
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[#Coachella2015, #GovBall2015]",,phillyûªs play & amp ; ! watch jimmy fallon :
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[#Coachella2015],,briana mom im ! ! ! _ù÷ý_ù÷ý_ù÷ý_ùõä

In [37]:
reg_for_digits = r'\d+'

no_digits = []
for text in df['texts']:
    sol_digits = re.sub(reg_for_digits, '',text)
    no_digits.append(sol_digits)
df['texts'] = no_digits
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtags,emails,texts
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[#Coachella2015],,tickets selling less minutes _ù_¦_ù___ù___ù÷...
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[#Coachella2015],,rt : wait absolute fire _ùó´_ùó´_ùó´
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[#Coachella2015, #VIP]",,passes secured ! see bitchesssss
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[#Coachella2015, #GovBall2015]",,phillyûªs play & amp ; ! watch jimmy fallon :
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[#Coachella2015],,briana mom im ! ! ! _ù÷ý_ù÷ý_ù÷ý_ùõä

In [38]:
reg_for_chars = r'[^a-zA-Z0-9\s]'
no_chars = []
for text in df['texts']:
    sol_chars = re.sub(reg_for_chars, '',text)
    no_chars.append(sol_chars)
df['texts'] = no_chars
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtags,emails,texts
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[#Coachella2015],,tickets selling less minutes
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[#Coachella2015],,rt wait absolute fire
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[#Coachella2015, #VIP]",,passes secured see bitchesssss
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[#Coachella2015, #GovBall2015]",,phillys play amp watch jimmy fallon
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[#Coachella2015],,briana mom im

In [52]:
symb  = 'rt : wait absolute fire _ùó´_ùó´_ùó´'
cleaned = ''
for char in symb:
    if ord(char) <= 127:
        cleaned += char
print(cleaned)

rt : wait absolute fire ___